# JetBrains
.idea/
*.iml

# Java
out/


build/
target/
config/
*.jar

# Stego Project
StenographicOutputImages/
WardenImages/
FinalGraphs/
src/main/java/tool/ratioSucessfullyTransmittedMessage.txt
*Thumbs.db
